html {
  scroll-behavior: smooth;
}

#app {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.logo {
  font-family: Pacifico;
  font-size: 30px;
  color: #000;
}

.logo span {
  background-color: #2ad883;
  border-radius: 50%;
  padding: 0px 3px;
}

.logo {
  text-shadow: 0px 3px 1px #2ad883;
}

.navbarFixded {

  width: 100%;
  position: fixed;
  transition: .2s linear;
  top: 0;
  z-index: 2;
  background-color: #fff;

}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #51b566;
  border-radius: 30px;
}

.nav-item .nav-link {
  color: #000000;
}

/* ==banner============ */

.banner-color {
  background-color: #20272f;
  width: 100%;
  margin-top: 65px;
}

.waves{
  position: absolute;
  bottom: -5px;
  z-index: 1;
  left: -5px;
  width: 110%;
  right: 0;

  background-color: transparent;
}
.banner-clippath {
  position: relative;
  overflow: hidden;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 83% 94%, 65% 91%, 47% 92%, 31% 92%, 16% 89%, 0 83%); */
}


.decor-banner {
  position: relative;
  overflow: hidden;
  /* z-index: 2; */
}

.decor-banner .bx {
  position: absolute;
  opacity: 0.23;
  font-size: 5vw;
}

.item-decor .img1 {
  top: 20px;
  right: 10px;
  opacity: 0.6;
  transform: rotate(45deg);
}

.item-decor .img8 {
  top: 50px;
  right: 360px;
  opacity: 0.2;
  font-size: 80px;

  transform: rotate(-55deg);
}

.item-decor .img2 {
  bottom: 100px;
  right: 450px;
  opacity: 0.3;
}

.item-decor .img3 {
  bottom: 80px;
  left: 100px;
  opacity: 0.2;
  font-size: 7vw;
}

.item-decor .img4 {
  top: 250px;
  left: -50px;
  font-size: 80px;
  opacity: 0.2;
}

.item-decor .img5 {
  top: 9px;
  left: 282px;
  opacity: 0.3;
}

.item-decor .img6 {
  bottom: 20px;
  right: 30px;
  opacity: 0.8;
  transform: rotate(45deg);
}

.item-decor .img7 {
  top: 80px;
  right: 80px;
  opacity: 0.6;
  transform: rotate(45deg);
}


.text-color {
  color: #fff;
  background-color: #171c22;
  padding: 90px 20px;
}
.text-color h3{
  z-index: 2;
}

.text-color h1 {
  position: relative;
  color: #171c22;
  font-family: roboto;
  font-weight: bold;
}

.text-color h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 00%;
  height: 100%;
  color: #2ad883;
  border-right: 5px solid #51b566;
  overflow: hidden;
  animation: text-banner 7s linear infinite;
}

@keyframes text-banner {
  0% {
    width: 0%;
  }

  50% {
    width: 60%;
    border-right: 5px solid #51b566;
  }

  60% {
    width: 60%;
    border-right: 5px solid #51b566;
  }

  70% {
    width: 60%;
    border-right: 0px solid #51b566;
  }

  80% {
    width: 60%;
    border-right: 5px solid #51b566;
  }

  90% {
    width: 60%;
    border-right: 0px solid #51b566;
  }

  100% {
    width: 0;
  }
}

.btn-view-banner {
  background-color: #2ad883;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;

}

.img-banner {
  background-color: #2ad883;
  position: relative;
  padding: 30px 30px 0 0px;
}


/* ================ about me=============== */
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.aboutMe {
  background-color: #20272f;
  margin-top: 70px;
}

.img-aboutMe {
  position: relative;
  padding: 60px;
  background-color: #2ad883;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);


}

.img-aboutMe img {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px gray;
}

.item-img-about {
  position: absolute;
  background-color: #171c22;
  color: rgba(204, 204, 204, 0.823);
  clip-path: ellipse(50% 37% at 50% 50%);
  padding: 20px 15px 10px 15px;
}

.item-img-about h4 {
  color: #2ad883;
  font-weight: bold;
}

.item-ab1 {
  top: 20%;
  right: 12%;
}

.item-ab2 {
  bottom: 20%;
  right: 12%;
  padding: 15px 15px 30px;
}

.item-ab3 {
  top: 40%;
  left: 6%;
}

.right-about h3 {
  color: #2ad883;
  font-size: 48px;
  font-weight: bold;
}

.right-about h5 {
  color: #fff;
  font-weight: 500;
}

.right-about p {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.68);
}

/* ===========slide-show-projects=============== */
#myprojects {
  background-color: #171c22;
  padding: 70px 0;
  margin-top: 100px;
}


.text-project {
  color: #2ad883;
  margin: 20px 0;
  font-weight: bold;
  text-shadow: 2px 1px 2px #fff;
  font-size: 48px;
}

.h3-project-item {
  margin: 20px 0;
  text-align: center;

}
.h3-project-item a{
  text-decoration: none;
  color: #dcd9d9;
}

.img-projects {
  width: 100%;
  transition: .15s linear;
  border-radius: 30px;
}


.img-projects:hover{
  transition: .2s linear;
  transform: scale(1.1);
}
.project-page p{
  color: #acacac;
}
.h3-project {
  padding: 10px;
  background-color: #313942;
  width: max-content;
  margin: 50px auto;
  border-radius: 5px;
}

.h3-project a {
  text-decoration: none;
  color: #fff;
}

/* ===============contact=========== */
.bg-contact {
  background-color: #171c22;
  padding: 50px 0 0;
}

.clipath-contact {
  background-color: #2ad883;
  /* clip-path: polygon(46% 6%, 60% 6%, 79% 9%, 100% 18%, 100% 100%, 0 100%, 0 0, 18% 6%, 31% 7%); */
  padding: 20px 0;
  position: relative;
}

.waves-contact{
  position: absolute;
  z-index: 1;
  left: 0px;
  top: -20px;
  background-color: transparent;
}
.p-contact {
  font-size: 13px;
  color: #fff;
  margin-top: 20px;
}

.h3-contact {
  font-weight: bold;
  font-size: 48px;
}

.row-contact {
  padding: 0 20px;
}

.contact-left h4 {
  font-weight: bold;
}

.contact-left table {
  width: 100%;
}

.contact-left table input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #171c22;
  color: #fff;
  font-style: italic;
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
}

.contact-left textarea {
  border: 1px solid #171c22;
}

.contact-left table input::placeholder {
  color: #000000;
  font-size: 13px;
}

.btn-contact {
  color: #0ca159;
  background-color: #fff;

  margin-top: 20px;
  border-radius: 30px;
  width: 79px;
  line-height: 45px;
  height: 60px;
  overflow: hidden;
  transition: .3s linear;
}

.btn-contact p {
  width: max-content;
}

.btn-contact:hover {
  width: 170px;
  background-color: #fff;
  transition: .3s linear;
}

.btn-contact:hover .i1 {
  display: none;
  transition: .2s linear;
}

.item-bg-contact {
  background-color: #171c22;
  padding: 10px;
  border-radius: 30px;
  margin-top: 40px;
}

.item-info-contact {
  display: flex;
  align-items: center;
}

.item-info-contact p {
  padding: 10px;
  color: #fff;
}

.item-info-contact p i {
  color: #0ca159;
  background-color: #2ad88421;
  padding: 10px;
  border-radius: 50%;
}

/* ================footer============== */

.icon-footer {
  padding: 20px;
  color: #171c22;
  background-color: #2ad884cc;
  text-align: center;
  border-bottom: 1px dotted #171c22;
  padding-bottom: 10px;
  width: 100%;

}

.icon-footer a i {
  color: #171c22;
}

.text-footer {
  background-color: #2ad883;
  padding: 10px;
}

/* ==================login=========== */


.login {
  background-color: #2ad883;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.iconlogin i {
  font-size: 25px;
  margin: 0 10px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* ========Project Detail Page========== */
.bg-project-detail {
  background-color: #171c22;
}

.left-project-detail {
  color: #fff;
  height: 100vmax;
  position: relative;
  overflow: hidden;
}

.aboutWeb,
.h1-right-project-detail {
  margin-top: 200px;

}

.aboutWeb,
.tech {
  width: 90%;
}

.img-leftdetail-project img {
  margin: 40px 0;
  transition: .2s linear;
}
.color-name-web{
  color: #0ca159;
  font-size: 30px;
}

.img-leftdetail-project img:hover {
  transition: .2s linear;
  transform: scale(1.1);
}

.img-left-project2 {
  position: absolute;
  top: 100px;
  left: 200px;
  opacity: 0.2;
}

.img-left-project1 {
  position: absolute;
  bottom: 30px;
  left: 180px;
  opacity: 0.2;
}

.right-project-detail {
  background-color: #2ad883;
  height: 100vmax;
  overflow: hidden;
}

.recommend {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.recommend li {
  list-style: none;
}

.recommend a {
  text-decoration: none;
  color: #fff;
}

.recommend a {
  text-decoration: none;
  color: #fff;
  transition: .2s linear;

}

.recommend a:hover {
  color: #313942;
  transition: .2s linear;
}

.recommend a p {
  color: #4e5155;
  transition: .2s linear;
}

.recommend img {
  width: 50px;
  height: 70px;
  margin: -30px 0 0 10px;
  transition: .2s linear;
}

.recommend img:hover {
  transition: .2s linear;
  transform: scale(1.1);

}

/* =====reponsive============= */

@media (max-width: 768px) {
  .menu-header, .icon-header{
    display: none;
  }
  .waves-contact{
    top: -2px;
    left: -1px;
    right: -1px;
  }
}